{% include 'header.html' %}

<style>
  #activate-about {
    color: white;
  }
</style>
<br>

<div class="container">
  <h1>
    About Text Analyser <hr>
  </h1>
    Text-Analyser is a tool which works on texts. It is build in Python with Django web framework. You can visit its GitHub 
    repositry <a href="https://github.com/bijeshkumarch/Text-Analyser"><i>here</i></a>. <br><br>
    <b>Services provided by Text Analyser are:</b> <br>
    <ol>
      <li>Remove Punctuation</li>
      <li>Character Count (with space)</li>
      <li>Character Count (without space)</li>
      <li>Word Count</li>
      <li>Sentence Count</li>
    </ol> <br>
  <h1>
    Who are we? <hr>
  </h1>
    Hey, I'm Bijesh, a final year B. Tech. (CSE) student. Currently I'm learning Django and I thought to do some fun with 
    Django and as a result I build this website.
</div>