{% load static %}

{% include 'header.html' %}

<br>

<style>
  #activate-contact {
    color: white;
  }
  
</style>

<div class="container">
  <h1>Contact Us</h1> <hr>
  <p style="font-size: large;">Below are the ways you can contact us.</p><br>
  <a href="mailto: bijeshchaurasia1@gmail.com"><img src="{% static 'images/gmail logo.png' %}" width="150"></a> - Mail us<br>
  <a href="https://github.com/bijeshkumarch"><img src="{% static 'images/github logo.png' %}" width="100" style="position:relative; left:20px;"></a> <p style="display:inline; margin-left:50px">- GitHub</p><br>
  <a href="https://www.linkedin.com/in/bijeshkumarch/"><img src="{% static 'images/linkedin logo.png' %}" width="100" style="position:relative; left:20px;"></a><p style="display:inline; margin-left:53px">- LinkedIn</p><br>
  <a href="https://www.facebook.com/bijeshkchaurasiya"><img src="{% static 'images/fb logo.png' %}" width="150"></a> - Facebook<br>
  <a href="https://www.instagram.com/bijesh_chaurasia/" > <img src="{% static 'images/instagram logo.jpg' %}" width="80" style="position:relative; left:30px;"> </a><p style="display:inline; margin-left:69px">- Instagram</p> <br>
  <a href="https://wa.me/919934901498"><img src="{% static 'images/whatsapp logo.png' %}" width="80" style="position:relative; left:30px;"></a> <p style="display:inline; margin-left:69px">- Whatsapp</p><br>
  <br>
  <p style="position:absolute; font-size: 70px; margin-left:450px; margin-top: -330px; font-family: Edwardian Script ITC;">Thank you for visiting us!</p>
</div>