<!doctype html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Text Analyser</title>
        <link href="favicon.ico" rel="shortcut icon" type="Images/x-icon">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    </body>
    </html>

<!--Navigation bar-->
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Text Analyser</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="about">About Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="contact">Contact Us</a>
                  </li>
                </ul>
              </div>
              <!--search-->
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>

            </div>
          </nav>

<!--Alert-->
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Yeah!</strong> We did it.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

<!--Text Area-->
<div class="container">
    <h1  display:inline">Your Analyzed text:</h1>
            <textarea class="form-control" style="background: rgb(245, 242, 242)" id="processed_text" name="processed_text" rows="5" readonly>{{analyzed_text}}</textarea>
            <button class="btn btn-primary mt-2" style=" text-align:center;" onclick="CopyText()">Copy Text</button> <br>
            <pre style="background: rgb(245, 242, 242)">{{desc}}</pre>
</div>


<script>
    function CopyText() {
    var text = document.getElementById('processed_text')
    text.select();
    document.execCommand('copy')
  }
  </script>