{% include 'header.html' %}


<style>
  #activate-home {
    color: white;
  }
</style>

<!--Alert-->
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Welcome to Text Analyser!</strong> You can do anything with your text here.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

<!--Text Area-->
<div class="container">
    <form action='/result' method='get'>
        <div class="mb-3 mt-3">
          <label for="comment">Put Your Text Here</label>
          <textarea class="form-control" style="background: rgb(245, 242, 242)" placeholder="Enter your text here" rows="5" name="text"></textarea>
        </div>

        <div class="form-check form-switch">
            <input class="form-check-input" name="Remove punc" type="checkbox" role="switch" id="flexSwitchCheckDefault1">
            <label class="form-check-label" for="flexSwitchCheckDefault1">Remove Punctuations</label>
          </div>
        <div class="form-check form-switch">
            <input class="form-check-input" name="Character count with space" type="checkbox" role="switch" id="flexSwitchCheckDefault2">
            <label class="form-check-label" for="flexSwitchCheckDefault2">Character count (with space)</label>
          </div>
        <div class="form-check form-switch">
            <input class="form-check-input" name="Character count without space" type="checkbox" role="switch" id="flexSwitchCheckDefault3">
            <label class="form-check-label" for="flexSwitchCheckDefault3">Character count (without space)</label>
          </div>
        <div class="form-check form-switch">
            <input class="form-check-input" name="Word count" type="checkbox" role="switch" id="flexSwitchCheckDefault4">
            <label class="form-check-label" for="flexSwitchCheckDefault4">Word count</label>
          </div>
        <div class="form-check form-switch">
            <input class="form-check-input" name="Sentence count" type="checkbox" role="switch" id="flexSwitchCheckDefault5">
            <label class="form-check-label" for="flexSwitchCheckDefault5">Sentence count </label>
          </div>

        <button type="submit" class="btn btn-primary mt-2">Submit</button>
      </form>
</div>