{% include 'header.html' %}

<!--Alert-->
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Yeah!</strong> We did it.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

<!--Text Area-->
<div class="container">
    <h1  display:inline">Your Analyzed text:</h1>
            <textarea class="form-control" style="background: rgb(245, 242, 242)" id="processed_text" name="processed_text" rows="5" readonly>{{analyzed_text}}</textarea>
            <button class="btn btn-primary mt-2" style=" text-align:center;" onclick="CopyText()">Copy Text</button> <br>
            <pre style="background: rgb(245, 242, 242)">{{desc}}</pre>
</div>


<script>
    function CopyText() {
    var text = document.getElementById('processed_text')
    text.select();
    document.execCommand('copy')
  }
  </script>