<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Analyzing your text ... </title>
        <link href="favicon.ico" rel="shortcut icon" type="Images/x-icon">
    </head>
    <body>
        <h1>Your Analyzed text: {{purpose}}</h1>
            <textarea id="processed_text" name="processed_text" rows="4" cols="50" readonly >{{analyzed_text}}</textarea>
            <button style=" text-align:center;" onclick="CopyText()">Copy Text</button> <br>
            <pre>{{desc}}</pre>
    </body>
</html>